.account_section_continer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hover_icon:hover{
    border-radius: 50%;
    filter: blur(1px) brightness(85%); 
}
.hover_image{
    transform: scale(.5);
}

.menu_link{
    color: green;
};
.update_input:focus{
    outline: 0;
    /* border: 0px solid; */
}

.profile_image{
    max-height: 80%;
    max-width: 80%;
    border-radius: 50%;
    background-size: cover;
}